<% include partials/header%>
<% include partials/nav%>


<div class="container">
<form class = "form-horizontal" action="/update/<%=doc._id%>" method = "POST">
    <h1>1 <hr style="border-top: 1px solid #777; width: 80%;margin-top: -20px; margin-right: 17%"></h1>
    
    <div class="row">
        <div class="col-sm-4"><h4 class="pull-right">Pika kufitare</h4></div>
        <div class="col-sm-3">
            <select class="form-control">
                <option>Zgjedhni piken</option>
                <option>Vërmicë</option>
                <option>Qafë e Prushit</option>
                <option>Qafë e Morinës</option>
                <option>Kullë</option>
                <option>Bërnjak</option>
                <option>Merdarë</option>
                <option>Mutivodë</option>
                <option>Dheu i Bardhë</option>
                <option>Muçibabë</option>
                <option>Hani i Elezit</option>
                <option>Glloboqicë</option>    
   


            </select>
        </div>
    </div>
    
    <h1>2 <hr style="border-top: 1px solid #777; width: 80%;margin-top: -20px; margin-right: 17%"></h1>
    
    <h3 style= "margin-left:40px;">Hyrje</h3>
    <div class="row">
        <div class="col-sm-4"><h4 class="pull-right">Minimum</h4></div>
        <div class="col-sm-3"><input name="hyrje_min_minuta" type="text" class="form-control" value="<%=doc.hyrje_min_minuta %> "></div>
        <div class="col-sm-4">Minuta</div>
    </div>
    <div class="row">
        <div class="col-sm-4"><h4 class="pull-right">Maximum</h4></div>
        <div class="col-sm-3"><input name="hyrje_max_minuta" type="text" class="form-control" value="<%=doc.hyrje_max_minuta %> "></div>
        <div class="col-sm-4">Minuta</div>
    </div>
    
    <h3 style= "margin-left:40px;">Dalje</h3>
    <div class="row">
        <div class="col-sm-4"><h4 class="pull-right">Minimum</h4></div>
        <div class="col-sm-3"><input name="dalje_min_minuta" type="text" class="form-control" value="<%=doc.dalje_min_minuta %> "></div>
        <div class="col-sm-4">Minuta</div>
    </div>
    <div class="row">
        <div class="col-sm-4"><h4 class="pull-right">Maximum</h4></div>
        <div class="col-sm-3"><input name="dalje_max_minuta" type="text" class="form-control" value="<%=doc.dalje_max_minuta %> "></div>
        <div class="col-sm-4">Minuta</div>
    </div>
    
    <h1>3 <hr style="border-top: 1px solid #777; width: 80%;margin-top: -20px; margin-right: 17%"></h1>
    
    <h3 style= "margin-left:40px;">Hyrje</h3>
    <div class="row">
        <div class="col-sm-4"><h4 class="pull-right">Minimum</h4></div>
        <div class="col-sm-3"><input name="hyrje_min_metra" type="text" class="form-control" value="<%=doc.hyrje_min_metra %> "></div>
        <div class="col-sm-4">Metra</div>
    </div>
    <div class="row">
        <div class="col-sm-4"><h4 class="pull-right">Maximum</h4></div>
        <div class="col-sm-3"><input name="hyrje_max_metra" type="text" class="form-control" value="<%=doc.hyrje_max_metra%> "></div>
        <div class="col-sm-4">Metra</div>
    </div>
    
    <h3 style= "margin-left:40px;">Dalje</h3>
    <div class="row">
        <div class="col-sm-4"><h4 class="pull-right">Minimum</h4></div>
        <div class="col-sm-3"><input name="dalje_min_metra" type="text" class="form-control" value="<%=doc.dalje_min_metra %> "></div>
        <div class="col-sm-4">Metra</div>
    </div>
    <div class="row">
        <div class="col-sm-4"><h4 class="pull-right">Maximum</h4></div>
        <div class="col-sm-3"><input name="dalje_max_metra" type="text" class="form-control" value="<%=doc.dalje_max_metra%> "></div>
        <div class="col-sm-4">Metra</div>
    </div>
    
    <div class="row">
       <div class="col-sm-4"><button type="submit" class="btn btn-primary pull-right" style="width: 30%;">Dergo</button></div>
        <div class="col-sm-4"><button type="button" class="btn btn-primary " style="width: 30%;"> Fshij</button></div>
    </div>
 
    
</div>


<% include partials/footer %>